__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/

finetune/
experiments_multiView_*/

.idea/
.vscode/
.DS_Store
dataset/eval_code_generation_repo/chemllm-7b/
/dataset/eval_code_generation_repo/chemllm-7b/
