--extra-index-url https://download.pytorch.org/whl/cu118
--find-links https://data.pyg.org/whl/torch-2.0.1+cu118.html

# Python 3.9 is recommended.  The CUDA wheels below target CUDA 11.8.
torch==2.0.1+cu118
torchvision==0.15.2+cu118
torch-geometric==2.3.1
torch-scatter==2.1.2
torch-sparse==0.6.18

numpy==1.23.5
scipy==1.10.1
pandas==1.5.3
scikit-learn==1.2.2
networkx==2.8.8

rdkit==2022.9.5
mordred==1.2.0

PyYAML==6.0.1
tensorboard==2.12.3
